<h1>Jobs List</h1>

{{isLoading$ | async}}

<app-jobs-list-filters (updateParams)="updateParams($event)"
                       [jobsListParams]="jobsListParams">
</app-jobs-list-filters>

<app-jobs-list-table (deleteJobAd)="deleteJobAd($event)"
                     (updateParams)="updateParams($event)"
                     [jobsList]="jobsList$ | async">
</app-jobs-list-table>

<app-jobs-list-paginator (updateParams)="updateParams($event)"
                         [isLoading]="!!(isLoading$ | async)"
                         [jobsListParams]="jobsListParams"
                         [totalCount]="totalCount$ | async">
</app-jobs-list-paginator>

