<ng-container *ngrxLet="vm$ as vm">
  <h1>Jobs List</h1>

  <app-jobs-list-filters (updateParams)="updateParams($event)"
                         [jobsListParams]="jobsListParams">
  </app-jobs-list-filters>

  <app-jobs-list-table (changeJobAdStatus)="changeJobAdStatus($event)"
                       (deleteJobAd)="deleteJobAd($event)"
                       (updateParams)="updateParams($event)"
                       [jobsList]="vm.jobsList">
  </app-jobs-list-table>

  <app-table-paginator (updateParams)="updateParams($event)"
                       [params]="jobsListParams"
                       [totalCount]="vm.totalCount">
  </app-table-paginator>
</ng-container>
