<div class="filters">
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input [formControl]="searchQuery"
           [placeholder]="'Search for jobs'"
           matInput>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Status</mat-label>
    <mat-select [formControl]="statusFilter">
      <mat-option value="">Status</mat-option>
      <mat-option value="published">Published</mat-option>
      <mat-option value="draft">Draft</mat-option>
      <mat-option value="archived">Archived</mat-option>
    </mat-select>
  </mat-form-field>
</div>