<ng-container *ngIf="jobAdForm">
  <form (ngSubmit)="onSubmit()" [formGroup]="jobAdForm">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input formControlName="title"
             matInput>

      <mat-error *ngIf="jobAdForm.get('title').hasError('repeatedTitle')">
        A job ad with this title already exists
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea formControlName="description"
                matInput
                minlength="10">
    </textarea>

      <mat-error *ngIf="jobAdForm.get('description').hasError('minlength')">
        The length of the description must be of at least 10 characters
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngIf="jobAd.status !== 'published' && jobAd.status !== 'archived'" value="draft">Draft</mat-option>
        <mat-option *ngIf="jobAd.status === 'draft'" value="published">Published</mat-option>
        <mat-option *ngIf="jobAd.status != 'draft'" value="archived">Archived</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="skills">
      <mat-label>Skills</mat-label>
      <mat-chip-grid #skillGrid aria-label="Enter skills">
        <mat-chip-row (removed)="removeSkill(skill)"
                      *ngFor="let skill of jobAdForm.get('skills').value"
                      [disabled]="jobAdForm.disabled">
          {{skill}}
          <button [attr.aria-label]="'remove ' + skill" matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
        <input (matChipInputTokenEnd)="addSkill($event)"
               [disabled]="jobAdForm.disabled"
               [matChipInputAddOnBlur]="true"
               [matChipInputFor]="skillGrid"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               placeholder="New skill"/>

      </mat-chip-grid>
    </mat-form-field>

    <mat-error *ngIf="jobAdForm.get('skills').hasError('required')">
      At least one skill is required
    </mat-error>

    <button [disabled]="jobAdForm.disabled || jobAdForm.invalid || jobAdForm.pristine"
            color="primary"
            mat-raised-button>{{ jobAd?.id ? 'Update Job Ad' : 'Create New Job Ad' }}</button>
  </form>
</ng-container>