<ng-container *ngrxLet="vm$ as vm">
  <h1>Invoices List</h1>

  <ng-container *ngIf="vm.invoicesList.length > 0; else noResults">
    <app-invoices-list-table [invoicesList]="vm.invoicesList"></app-invoices-list-table>

    <app-table-paginator (updateParams)="updateParams($event)"
                         [params]="invoicesListParams"
                         [totalCount]="vm.totalCount">
    </app-table-paginator>
  </ng-container>

  <ng-template #noResults>
    <app-no-results
      [noResultsText]="'There are no invoices yet because you have not published any ads.'">
      <a [routerLink]="'/jobs'">
        <button color="primary" mat-raised-button>Check your Job Ads</button>
      </a>
    </app-no-results>
  </ng-template>
</ng-container>
